<h2><%= post.title %></h2>
<p>
  by <a href="/user/<%= post.user.handle %>"><%= post.user.displayName %></a>
</p>
<p><%= post.content %></p>
<%
if(user) {
  if(post.likes.filter(like => user._id.equals(like.user)).length) { %>
    <form action="/posts/<%= post._id %>/likes?_method=DELETE" method="POST">
      <input type="submit" value="Unlike" />
    </form>
  <% } else { %>
    <form action="/posts/<%= post._id %>/likes" method="POST">
      <input type="submit" value="Like" />
    </form> 
  <% }; %>
  (<%= post.likes.length %>)
  <% if(user._id.equals(post.user._id)) { %>
    <a href="/posts/<%= post._id %>/edit">Edit</a>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  <% }; %>
  <form action="/posts/<%= post._id %>/comments" method="POST">
    <input
      type="text"
      name="content"
      placeholder="Add a comment..."
    />
    <br />
    <input type="submit" value="Comment" />
  </form>
<% }; %>
<h3>Comments</h3>
<% post.comments.forEach(comment => { %>
  <p><%= comment.user.displayName %>: <%= comment.content %></p>
  <% if(user._id.equals(comment.user._id)) { %>
    <form action="/posts/<%= post._id %>/comments?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  <% } %> 
<% }); %>
